# ATIVA O REWRITE
RewriteEngine On

# REGRA DE REWRITE - CASO O NOME DO ARQUIVO SOLICITADO NÃO EXISTA ENTÃO REDIRECIONE TUDO PARA O ARQUIVO INDEX
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ ./index.php [QSA,NC]
