.wine-card {
  border-radius: 2.4rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  box-shadow: var(--shadow);
  padding: 1.2rem;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.wine-card:hover {
  transform: scale(1.05);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.image-wrapper {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 2.4rem;
  display: grid;
  place-content: center;
}

.image-wrapper img {
  max-width: 100%;
  border-radius: 2.4rem;
}

.name {
  color: var(--base-4);
}

.description {
  color: var(--base-3);
}

.category {
  color: var(--primary);
  font-weight: 700;
}

.info img {
  width: 2.8rem;
}
