.chart {
  padding: 2.4rem;
  box-shadow: var(--shadow);
}

.chart .title {
  color: var(--base-4);
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.chart#wines-by-amount {
  grid-column: 1 / -1;
}

@media (max-width: 1240px) {
  .chart {
    width: 95%;
    margin: 0 auto;
  }
}