#cards-container {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  min-height: 34rem;
  align-items: flex-start;
}

#panels-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}

.panel {
  display: flex;
  padding: 2.4rem;
}

.panel .title {
  color: var(--base-3);
}

.panel .count {
  font-size: 1.6rem;
  color: var(--base-4);
}

.pagination-buttons {
  display: flex;
  gap: 1.2rem;
  padding-bottom: 1.2rem;
}

.button {
  margin-top: 2.4rem;
}

.button.add {
  display: block;
  background-color: var(--secondary);
  color: var(--base-4);
  margin-top: 1.6rem;
  width: max-content;
}

.button.page.active {
  background-color: var(--primary);
  color: var(--base-1);
}

.empty-message {
  font-size: 2rem;
  font-weight: 700;
  color: var(--base-4);
  text-align: center;
}

@media (max-width: 1080px) {
  #cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 660px) {
  #cards-container {
    grid-template-columns: 1fr;
  }
}
