#cards-container {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  height: 34rem;
  align-items: flex-start;
}

.pagination-buttons {
  margin-top: 1.2rem;
  display: flex;
  gap: 1.2rem;
}

.button {
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
  margin-top: 2.4rem;
  font-weight: 700;
}

.button.add {
  background-color: var(--secondary);
  color: var(--base-4);
}

.button.page.active {
  background-color: var(--primary);
  color: var(--base-1);
}

.empty-message {
  font-size: 2rem;
  font-weight: 700;
  color: var(--base-4);
  text-align: center;
}
