.filters {
  /* margin-top: 2.4rem; */
}

.selects {
  display: flex;
  align-items: center;
}

.selects > span {
  margin-left: 2.4rem;
  margin-right: 0.8rem;
}

.categories {
  margin-top: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.categories .category {
  padding: 0.8rem;
  font-size: 1.4rem;
  display: grid;
  place-content: center;
  background-color: var(--base-1);
  color: var(--base-3);
  font-weight: 700;
  border-radius: 1.2rem;
}

.categories .category:hover {
  color: var(--base-4);
}

.categories .category.active {
  color: var(--base-1);
}
