.form-container {
  max-width: 50rem;
  margin: 2.4rem auto;
  box-shadow: var(--shadow);
  border-radius: 1.2rem;
  padding: 1.2rem 2.4rem;
}

.form-container header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--base-3);
  padding-bottom: 1.2rem;
  margin-bottom: 3.2rem;
}

.form-container header i {
  margin-right: 1.2rem;
  font-size: 2.4rem;
}

.form-container header h2 {
  margin-right: auto;
}

.input-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2.4rem;
  position: relative;
}

.input-control input {
  border-bottom: 2px solid var(--base-3);
  font-size: 1.6rem;
}

.input-control label {
  color: var(--primary);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.input-control label i {
  font-size: 2rem;
}

.input-control button.password-eye {
  position: absolute;
  right: .4rem;
  top: -.8rem;
  font-size: 2.4rem;
  background-color: transparent;
  color: var(--base-3);
}

.input-wrapper {
  margin-top: 2.4rem;
  border: 1px solid var(--base-3);
  padding: 0.8rem;
  border-radius: 0.8rem;

  display: flex;
  align-items: center;
}

.input-wrapper.active,
.input-wrapper:focus-within {
  border-color: var(--primary);
}

.input-wrapper i {
  color: var(--base-3);
  font-size: 2.4rem;
}

i.active,
.input-wrapper:focus-within i {
  color: var(--primary);
}

.input-wrapper input {
  border: none;
  flex: 1;
  outline: none;
  margin-left: 0.8rem;
}

.input-wrapper button {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0;
  display: grid;
  place-content: center;
  background-color: transparent;
}

.input-color {
  display: flex;
  gap: .8rem;
  border-bottom: 2px solid var(--base-3);
}

.input-color input {
  border: none;
  width: 2.4rem;
  height: 2.4rem;
}

.form-container .action-buttons {
  margin-top: 2.4rem;
  padding-top: 1.2rem;
  width: max-content;
  margin-left: auto;
  display: flex;
  gap: 1.2rem;
}

.form-container .action-buttons .button#edit,
.button#add {
  background-color: var(--secondary);
}

.form-container .action-buttons .button#delete {
  background-color: var(--danger);
  color: var(--base-2);
  font-weight: 500;
}

form button[type="submit"] {
  background-color: var(--primary);
  color: var(--base-1);
  padding: 1.2rem;
  width: 100%;
  border-radius: 0.8rem;
  margin-top: 2.4rem;
}

form button:focus {
  box-shadow: 0 0 2px var(--secondary);
}

form p {
  text-align: center;
  margin-top: 2.4rem;
  font-size: 1.2rem;
}

form a {
  color: var(--primary);
  font-weight: 700;
}

.select {
  overflow: hidden;
}

.select-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  gap: 1.2rem;
  background-color: transparent;
  border-bottom: 2px solid var(--base-3);
}

.select-button.big {
  border-color: var(--primary);
}

.select-button:focus {
  box-shadow: none;
}

.selected-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.select .select-button {
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
}

.select .select-button.big {
  font-size: 2.4rem;
  color: var(--primary);
}

.select .select-box {
  position: absolute;
  height: 0;
  z-index: 15;
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 0.8rem;
  background-color: var(--base-1);
  box-shadow: var(--shadow);
  border-radius: 0.8rem 0 0 0.8rem;
  transition: height 0.2s ease-in-out;
  overflow-y: scroll;
  padding-inline: 1.8rem;
}

.select .select-box::-webkit-scrollbar {
  width: 0.48rem;
  border-radius: 0 0.8rem 0.8rem 0;
  background-color: var(--base-3);
  z-index: -15;
}

.select .select-box::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.select .select-box.active {
  height: 15.2rem;
}

.select .select-box .option {
  width: 100%;
  cursor: pointer;
  font-weight: 500;
}

.select .select-box .flag {
  margin-bottom: -0.6rem;
}

.select .color {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.select .select-box .option:first-child {
  margin-top: 1.2rem;
}

.select .select-box .option:last-child {
  margin-bottom: 1.2rem;
}

.select .select-box .option:hover label,
.option.active label {
  cursor: pointer;
  color: var(--primary);
}

.select .select-box .option input[type="radio"] {
  display: none;
}

.search-wrapper {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  margin-top: 2.4rem;
  background-color: var(--base-1);
  border-radius: 0.8rem;
  border: 1px solid transparent;
}

.search-wrapper:focus-within {
  box-shadow: var(--outline);
}

.search-wrapper:focus-within i {
  color: var(--primary);
}

.search-wrapper i {
  color: var(--base-4);
}

.search-wrapper .search {
  width: 100%;
  margin-left: 1.2rem;
  background-color: transparent;
}
