main {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  height: 100vh;
  width: 100%;
}

main .app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app > div {
  width: 36rem;

  margin: 0 auto;
}

.app header {
  display: flex;
  color: var(--base-4);
}

.app h1 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  color: var(--base-4);
}

.hero {
  background-color: var(--secondary);
}

.hero p {
  text-align: center;
  margin-top: 2.4rem;
  color: var(--primary);
  font-weight: 500;
}

@media (max-width: 840px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero {
    display: none;
    overflow: hidden;
  }

  .app {
    width: 100%;
    padding: 2.4rem;
  }
}
