.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 1.2rem;
  padding: 2.4rem;
  border-left: 4px solid transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.panel:hover {
  transform: scale(1.05);
}

.panel.wine {
  border-color: var(--wine);
}

.panel.grape {
  border-color: var(--grape);
}

.panel.region {
  border-color: var(--region);
}

.panel.user {
  border-color: var(--user);
}

.panel .title {
  color: var(--base-3);
}

.panel .amount {
  display: block;
  margin-top: 1.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--base-4);
}

.panel i {
  font-size: 3.2rem;
  color: var(--base-3);
}

.panel:hover .title,
.panel:hover i {
  color: var(--base-4);
}
