.search {
  margin-top: 2.4rem;
}

.select.year {
  width: max-content;
  overflow: hidden;
}

.selected {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 1.2rem;
}

.select .selected.year {
  font-size: 2.4rem;
  color: var(--primary);
}

.select .select-box {
  height: 0;
  z-index: 15;
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
  gap: 0.8rem;
  background-color: var(--base-1);
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 1.2rem;
  transition: height 0.2s ease-in-out;
  border: 1px solid var(--primary);
}

.select .select-box.active {
  height: 15.2rem;
}

.select .select-box .option {
  width: 100%;
  cursor: pointer;
}

.select .select-box .option:first-child {
  margin-top: 1.2rem;
}

.select .select-box .option:hover label,
.option.active label {
  cursor: pointer;
  color: var(--primary);
  font-weight: 500;
}

.select .select-box .option input[type="radio"] {
  visibility: hidden;
}
