<div class="input-control">
  <label for="creator">
    <i class="ph-bold ph-users"></i>
    Cadastrado por:
  </label>
  <div class="select-container">
    <div id="creator" class="select">
      <button type="button" class="select-button">
        <span
          data-selected="{{selected-creator-id}}"
          data-value=""
          class="selected-item"
        >
        </span>
        <i class="ph-fill ph-caret-down"></i>
      </button>
      <div class="select-box">{{creator-options}}</div>
    </div>
  </div>
</div>
