<a href="/dashboard/grape/{{id}}/form" class="wine-card">
  <div class="image-wrapper" data-color="backgroundColor:{{color_hex}}">
    <img
      width="64"
      src="{{public_path}}/assets/images/grape.png"
      alt="Garrafa de vinho"
    />
  </div>
  <div class="info">
    <strong class="name">{{name}}</strong>
  </div>
</a>

<span class="css" data-file="card"></span>
<span class="css" data-file="pagination"></span>
<span class="js" data-file="colors"></span> 
<span class="js" data-file="date"></span>
