<header>
  <div class="logo">
    <img
      src="../../../public/assets/icons/logo.svg"
      width="32"
      alt="Logo da Vinos Del Valle"
    />
    <h2>Vinos Del Valle</h2>
  </div>

  <button class="button menu-hamburguer">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="menu">
    <button class="button menu-close">X</button>
    <nav>
      <ul>
        <li class="nav-link active"><a href="#">Vinhos</a></li>
        <li class="nav-link"><a href="#">Usuários</a></li>
        <li class="nav-link"><a href="#">Regiões</a></li>
      </ul>
    </nav>

    <div class="user">
      <button id="logout" class="user-button">
        <i class="ph-bold ph-power"></i>
      </button>
      <div class="avatar">
        <img src="https://github.com/JohnPetros.png" alt="Avatar de usuário" />
      </div>
      <div class="info">
        <strong class="name">John Petros</strong>
        <small class="email">jonh@admin.com</small>
      </div>
    </div>
  </div>

  {{modal}}
</header>

<span class="css" data-file="header"></span>
<span class="js" data-file="header"></span>
