<header>
  <a href="{{URL}}/dashboard/wine" class="logo">
    <img
      src="{{public_path}}/assets/icons/logo.svg"
      width="32"
      alt="Logo da Vinos Del Valle"
    />
    <h2>Vinos Del Valle</h2>
  </a>

  <button class="button menu-hamburguer">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="menu">
    <button class="button menu-close">X</button>
    <nav>
      <ul>
        <li class="nav-link {{wine}}"><a href="{{URL}}/dashboard/wine">Vinhos</a></li>
        <li class="nav-link {{region}}"><a href="{{URL}}/dashboard/region">Regiões</a></li>
        <li class="nav-link {{grape}}"><a href="{{URL}}/dashboard/grape">Uvas</a></li>
        <li class="nav-link {{user}}"><a href="{{URL}}/dashboard/user">Usuários</a></li>
        <li class="nav-link {{report}}"><a href="{{URL}}/dashboard/report">Relatórios</a></li>
      </ul>
    </nav>

    <div class="user">
      <button id="logout" class="user-button">
        <i class="ph-bold ph-power"></i>
      </button>
      <div class="avatar">
        <img class="avatar" data-value="{{avatar}}" alt="Avatar de usuário" />
      </div>
      <div class="info">
        <strong class="name">{{name}}</strong>
        <small class="email">{{email}}</small>
      </div>
    </div>
  </div>

  {{modal}}
</header>

<span class="css" data-file="header"></span>
<span class="js" data-file="header"></span>
<span class="js" data-file="avatar"></span>
