<form>
  <div class="search-wrapper">
    <button class="search-button" type="submit">
      <i class="ph-bold ph-magnifying-glass"></i>
    </button>
    <input
      type="search"
      class="search"
      name="search"
      id="search"
      placeholder="Pesquisar região por nome"
      value="{{search}}"
    />
  </div>

  <ul class="categories" id="countries">
    <input
      type="radio"
      name="category"
      id="category-all-categories"
      value="all-categories"
    />
    <button
      id="all-categories"
      data-color="#B04759"
      class="category"
      type="button"
    >
      Todas os países
    </button>
    {{country-categories}}
  </ul>
</form>
<input type="hidden" name="URL" id="URL" value="{{URL}}" />
