<form>
  <div class="search-wrapper">
    <i class="ph-bold ph-magnifying-glass"></i>
    <input
      type="search"
      class="search"
      name="search"
      id="search"
      placeholder="Pesquisar região por nome"
      value="{{search}}"
    />
  </div>
</form>

<ul class="categories" id="countries">
  <button id="all-categories" data-color="backgroundColor:#B04759" class="category">
    Todas os países
  </button>
  <!-- {{grape-categories}} -->
</ul>

<span class="css" data-file="form"></span>
<span class="css" data-file="filters"></span>
<span class="js" data-file="form"></span>
<span class="js" data-file="categories"></span>
<span class="js" data-file="contries"></span>
<span class="js" data-file="filters"></span>
