<form class="search">
  <!-- <select name="year" id="year">
    <option value="all">Todos os anos</option>
    <option value="2023">2023</option>
    <option value="2022">2022</option>
    <option value="2021">2021</option>
  </select> -->

  <div class="select year">
    <div class="selected year">
      <strong>Todos os anos</strong><i class="ph-fill ph-caret-down"></i>
    </div>
    <div class="select-box active">
      <div class="option active">
        <input type="radio" name="option" id="all-years" />
        <label for="all-years">Todos os anos</label>
      </div>
      <div class="option">
        <input type="radio" name="option" id="2023" />
        <label for="2023">2023</label>
      </div>
      <div class="option">
        <input type="radio" name="option" id="2022" />
        <label for="2022">2022</label>
      </div>
      <div class="option">
        <input type="radio" name="option" id="2022" />
        <label for="2022">2021</label>
      </div>
      <div class="option">
        <input type="radio" name="option" id="2022" />
        <label for="2022">2020</label>
      </div>
    </div>
  </div>
</form>
