<a href="{{URL}}/dashboard/region/{{id}}/form" class="wine-card">
  <div class="image-wrapper" data-color="backgroundColor:{{color}}">
    <img
      width="64"
      src="{{public_path}}/assets/images/user.png"
      alt="Avatar de usuário"
    />
  </div>
  <div class="info">
    <strong class="name">{{name}}</strong>
    <small class="description">Usuário criador: {{creator_name}}</small>
    <span class="category" data-color="color:{{color}}">Usuário {{type}}</span>
  </div>
</a>

<span class="css" data-file="card"></span>
