<a href="{{URL}}/dashboard/user/{{id}}/form" class="wine-card">
  <div class="image-wrapper">
    <img
      width="64"
      style="width: 7.2rem; height: 7.2rem;"
      src="{{public_path}}/uploads/avatars/{{avatar}}"
      alt="Avatar de usuário"
    />
  </div>
  <div class="info">
    <strong class="name">{{name}}</strong>
    <small class="description">Cadastrado por: {{creator_name}}</small>
    <span class="category" data-color="color:{{color}}">Usuário {{user-type}}</span>
  </div>
</a>

<span class="css" data-file="card"></span>
<span class="js" data-file="avatar"></span>
