<form>
  <div class="selects">
    <div id="year" class="select big">
      <button type="button" class="select-button big">
        <span
          data-selected="{{selected-year}}"
          data-value=""
          class="selected-item"
        ></span
        ><i class="ph-fill ph-caret-down"></i>
      </button>
      <div class="select-box">
        <div class="option active">
          <input type="radio" name="year" id="all-years" value="all-years" />
          <label for="all-years">Todos os anos</label>
        </div>
        {{year-options}}
      </div>
    </div>

    <div class="select-container">
      <span>Região:</span>
      <div id="region_id" class="select">
        <button type="button" class="select-button region">
          <span
            data-selected="{{selected-region-id}}"
            data-value=""
            class="selected-item"
          >
          </span>
          <i class="ph-fill ph-caret-down"></i>
        </button>
        <div class="select-box">{{region-options}}</div>
      </div>
    </div>
  </div>

  <div class="search-wrapper">
    <i class="ph-bold ph-magnifying-glass"></i>
    <input
      type="search"
      class="search"
      name="search"
      id="search"
      placeholder="Pesquisar vinho por nome"
      value="{{search}}"
    />
  </div>

  <ul class="categories">
    <li>
      <input
        type="radio"
        name="category"
        id="category-all-categories"
        value="all-categories"
      />
      <button
        id="all-categories"
        data-color="#B04759"
        class="category"
        type="button"
      >
        Todas as uvas
      </button>
    </li>

    {{grape-categories}}
  </ul>
</form>
<input type="hidden" name="URL" id="URL" value="{{URL}}">