<form>
  <div class="selects">
    <div class="select year">
      <button type="button" class="selected year">
        <span id="year" data-value="" class="selected-item"></span
        ><i class="ph-fill ph-caret-down"></i>
      </button>
      <div class="select-box">
        <div class="option active">
          <input type="radio" name="year" id="all-years" />
          <label for="all-years">Todos os anos</label>
        </div>
        <div class="option">
          <input type="radio" name="year" id="2023" />
          <label for="2023">2023</label>
        </div>
        <div class="option">
          <input type="radio" name="year" id="2022" />
          <label for="2022">2022</label>
        </div>
        <div class="option">
          <input type="radio" name="year" id="2021" />
          <label for="2021">2021</label>
        </div>
        <div class="option">
          <input type="radio" name="year" id="2020" />
          <label for="2020">2020</label>
        </div>
      </div>
    </div>

    <span>Região:</span>
    <div class="select region">
      <button type="button" class="selected region">
        <span id="region" data-value="" class="selected-item"> </span>
        <i class="ph-fill ph-caret-down"></i>
      </button>
      <div class="select-box">{{region-options}}</div>
    </div>
  </div>

  <div class="search-wrapper">
    <i class="ph-bold ph-magnifying-glass"></i>
    <input
      type="search"
      class="search"
      name="search"
      id="search"
      placeholder="Pesquise por um nome"
    />
  </div>
</form>

<div class="footer">
  <ul class="categories">
    <li>
      <button id="1" class="category grape" data-color="#8bd297">
        Moscato
      </button>
    </li>
    <li>
      <button id="2" class="category grape" data-color="#aaa">Merlot</button>
    </li>
    <li>
      <button id="3" class="category grape" data-color="#cad">Isabel</button>
    </li>
    <li>
      <button id="4" class="category grape" data-color="#1ac">Niágara</button>
    </li>
  </ul>
</div>

<span class="js" data-file="filters"></span>
