<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/global.css" />
    <link rel="stylesheet" href="../../../public/css/header.css" />
    <link rel="stylesheet" href="../../../public/css/search.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script defer src="../../../public/js/form.js"></script>
    <title>Dashboard</title>
  </head>
  <body>
    <main class="container">{{header}} {{search}}</main>
  </body>
</html>
