<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/global.css" />
    <link rel="stylesheet" href="../../../public/css/header.css" />
    <link rel="stylesheet" href="../../../public/css/form.css" />
    <link rel="stylesheet" href="../../../public/css/filters.css" />
    <link rel="stylesheet" href="../../../public/css/wine-card.css" />
    <link rel="stylesheet" href="../../../public/css/dashboard.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script defer src="../../../public/js/form.js"></script>
    <title>Dashboard</title>
  </head>
  <body>
    <main class="container">
      {{header}} {{filters}}

      <div class="grid">
        <a href="#" class="wine-card">
          <div class="image-wrapper">
            <img
              width="64"
              src="../../../public/assets/images/moscato.png"
              alt=""
            />
          </div>
          <div class="info">
            <strong class="name">Casa Castillo Monastrel</strong>
            <small class="description">Pais: Espanha | 24/05/2023</small>
            <span class="grape">Moscato</span>
          </div>
        </a>

        <a href="#" class="wine-card">
          <div class="image-wrapper">
            <img
              width="64"
              src="../../../public/assets/images/moscato.png"
              alt=""
            />
          </div>
          <div class="info">
            <strong class="name">Casa Castillo Monastrel</strong>
            <small class="description">Pais: Espanha | 24/05/2023</small>
            <span class="grape">Moscato</span>
          </div>
        </a>
      </div>
    </main>
  </body>
</html>
