<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{public_path}}/assets/icons/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{{public_path}}/css/global.css" />
    <link rel="stylesheet" href="{{public_path}}/css/login.css" />
    <link rel="stylesheet" href="{{public_path}}/css/form.css" />
    <link rel="stylesheet" href="{{public_path}}/css/toast.css" />
    <script defer src="{{public_path}}/js/form.js"></script>
    <script defer src="{{public_path}}/js/toast.js"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Vinos Del Valle</title>
  </head>
  <body>
    <main>
      <div class="app">
        <div>
          <header>
            <img
              src="{{public_path}}/assets/icons/logo.svg"
              width="32"
              alt="Logo da Vinos Del Valle"
            />
            <h2>Vinos Del Valle</h2>
          </header>
          <h1>Faça seu login</h1>
          <form method="post" action="/login">
            <div class="input-wrapper">
              <i class="ph-fill ph-envelope"></i>
              <input
                class="input"
                type="email"
                name="email"
                placeholder="E-mail"
              />
            </div>
            <div class="input-wrapper">
              <i class="ph-fill ph-lock"></i>
              <input
                class="input"
                type="password"
                name="password"
                placeholder="Senha"
              />
              <button class="password-eye" type="button">
                <i class="ph-fill ph-eye"></i>
              </button>
            </div>
            <button type="submit">Login</button>
            <!-- <p>
              Não tem uma conta? <a href="#" target="_blank">Crie uma conta</a>
            </p> -->
          </form>
          {{toast}}
        </div>
      </div>

      <div class="hero">
        <img
          src="../../../public/assets/images/hero.svg"
          width="350"
          alt="Logo da Vinos Del Valle"
        />
        <p>Os melhores vinhos da região do Vale.</p>
      </div>
    </main>

   
  </body>
</html>
