<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{public_path}}/assets/icons/favicon.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{public_path}}/css/global.css" />
    <link rel="stylesheet" href="{{public_path}}/css/header.css" />
    <link rel="stylesheet" href="{{public_path}}/css/form.css" />
    <script defer src="{{public_path}}/js/global.js"></script>
    <script defer src="{{public_path}}/js/form.js"></script>
    <script defer src="{{public_path}}/js/avatar.js"></script>
    <script defer src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Dashboard - Usuários | Vinos Del Valle</title>
  </head>
  <body>
    <main class="container">
      {{header}} {{toast}}

      <h1>{{title}}</h1>

      <div class="form-container">
        <header>
          <i class="ph-bold ph-user"></i>
          <h2>Usuário</h2>
        </header>

        <form action="" method="post">
          <div class="input-control">
            <label for="avatar">
              <i class="ph-bold ph-user-circle"></i>
              avatar:
            </label>
            <button type="button" id="set-avatar" class="input-avatar" for="avatar">
              <img
                width="100"
                class="avatar"
                data-value="{{avatar}}"
                alt="Imagem de avatar de usuário"
              />
              <span class="caption">alterar avatar</span>
              <input class="input hidden" type="file" id="avatar" name="avatar" />
            </button>
          </div>

          <div class="input-control">
            <label for="name">
              <i class="ph-bold ph-tag"></i>
              Nome:
            </label>
            <input
              class="input"
              type="text"
              id="name"
              name="name"
              value="{{name}}"
              autofocus
            />
          </div>

          <div class="input-control">
            <label for="email">
              <i class="ph-bold ph-envelope"></i>
              E-mail:
            </label>
            <input
              class="input"
              type="text"
              id="email"
              name="email"
              value="{{email}}"
            />
          </div>

          <div class="input-control hidden">
            <label for="password">
              <i class="ph-bold ph-password"></i>
              Senha:
            </label>
            <input
              class="input hidden"
              type="password"
              id="password"
              name="password"
            />
            <button class="password-eye" type="button">
              <i class="ph-fill ph-eye"></i>
            </button>
          </div>
          <div class="input-control hidden">
            <label for="password_confirm">
              <i class="ph-bold ph-password"></i>
              Confirmar Senha:
            </label>
            <input
              class="input hidden"
              type="password"
              id="password_confirm"
              name="password_confirm"
            />
            <button class="password-eye" type="button">
              <i class="ph-fill ph-eye"></i>
            </button>
          </div>

          <div class="input-control">
            <label for="user-type">
              <i class="ph-bold ph-identification-badge"></i>
              Tipo de usuário:
            </label>
            <div class="select-container">
              <div id="user-type" class="select">
                <button type="button" class="select-button">
                  <span
                    data-selected="{{selected-user-type}}"
                    data-value=""
                    class="selected-item"
                  >
                  </span>
                  <i class="ph-fill ph-caret-down"></i>
                </button>
                <div class="select-box">
                  <div class="option">
                    <input
                      type="radio"
                      name="user-type"
                      id="user-type-1"
                      value="1"
                    />
                    <label for="user-type-admin">Administrador</label>
                  </div>
                  <div class="option">
                    <input
                      type="radio"
                      name="user-type"
                      id="user-type-0"
                      value="0"
                    />
                    <label for="user-type-admin">Padrão</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="input-control">
            <label for="creator">
              <i class="ph-bold ph-users"></i>
              Usuário criador:
            </label>
            <div class="select-container">
              <div id="creator" class="select">
                <button type="button" class="select-button">
                  <span
                    data-selected="{{selected-creator-id}}"
                    data-value=""
                    class="selected-item"
                  >
                  </span>
                  <i class="ph-fill ph-caret-down"></i>
                </button>
                <div class="select-box">{{creator-options}}</div>
              </div>
            </div>
          </div>

          <div class="action-buttons">{{buttons}}</div>

          {{modal}}
        </form>
      </div>
    </main>
  </body>
</html>
