<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{public_path}}/assets/icons/favicon.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{public_path}}/css/global.css" />
    <link rel="stylesheet" href="{{public_path}}/css/header.css" />
    <link rel="stylesheet" href="{{public_path}}/css/form.css" />
    <script defer src="{{public_path}}/js/global.js"></script>
    <script defer src="{{public_path}}/js/form.js"></script>
    <script defer src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Dashboard - Vinhos</title>
  </head>
  <body>
    <main class="container">
      {{header}} {{toast}}

      <h1>{{title}}</h1>

      <div class="form-container">
        <header>
          <i class="ph-bold ph-wine"></i>
          <h2>Vinho</h2>
        </header>

        <form action="" method="post">
          <div class="input-control">
            <label for="name">
              <i class="ph-bold ph-tag"></i>
              Nome:
            </label>
            <input
              class="input"
              type="text"
              id="name"
              name="name"
              value="{{name}}"
              autofocus
            />
          </div>

          <div class="input-control">
            <label for="winery">
              <i class="ph-bold ph-warehouse"></i>
              Vinícula:
            </label>
            <input
              class="input"
              type="text"
              id="winery"
              name="winery"
              value="{{winery}}"
            />
          </div>

          <div class="input-control">
            <label for="region">
              <i class="ph-bold ph-globe-hemisphere-west"></i>
              Região:
            </label>
            <div class="select-container">
              <div id="region_id" class="select region">
                <button type="button" class="select-button region">
                  <span
                    data-selected="{{selected-region-id}}"
                    data-value=""
                    class="selected-item"
                  >
                  </span>
                  <i class="ph-fill ph-caret-down"></i>
                </button>
                <div class="select-box">{{region-options}}</div>
              </div>
            </div>
          </div>

          <div class="input-control">
            <label for="grape">
              <i class="ph-bold ph-graph"></i>
              Uva:
            </label>
            <div class="select-container">
              <div id="grape_id" class="select grape">
                <button type="button" class="select-button grape">
                  <span
                    data-selected="{{selected-grape-id}}"
                    data-value=""
                    class="selected-item"
                  >
                  </span>
                  <i class="ph-fill ph-caret-down"></i>
                </button>
                <div class="select-box">{{grape-options}}</div>
              </div>
            </div>
          </div>

          <div class="input-control">
            <label for="winery" id="harvest_date">
              <i class="ph-bold ph-grains"></i>
              Data de colheita:
            </label>
            <input
              class="input"
              type="date"
              id="harvest_date"
              name="harvest_date"
              value="{{harvest_date}}"
              min="2020-01-01"
              max="2023-12-31"
            />
          </div>

          <div class="input-control">
            <label for="bottling_date">
              <i class="ph-bold ph-beer-bottle"></i>
              Data de envase:
            </label>
            <input
              class="input"
              type="date"
              id="bottling_date"
              name="bottling_date"
              value="{{bottling_date}}"
              min="2020-01-01"
              max="2023-12-31"
            />
          </div>

          {{registration_date}}

          <div class="action-buttons">{{buttons}}</div>

          {{modal}}
        </form>
      </div>
    </main>
  </body>
</html>
